<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Stocks Available</th>
      <th>Average Daily Demand</th>
      <th colspan="3"></th>
    </tr>
  </thead>
<tbody>
  <% @product_descriptions.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.product_category.category.class %></td>
      <td><%= "placeholder" %> </td>
      <td><%= "placeholder" %></td>
    </tr>
  <% end %>


  </tbody>
</table>
