  <div class="col-xs-6">
    <h3>Profit Over Time</h3>
    <%= line_chart [
      {name: "Profit", data: @cumu_profit_data },
      {name: "Revenue", data: @cumu_rev_data},
      {name: "Cost", data: @cumu_cost_data }
    ] %>
  </div>

  <div class="col-xs-6">
    <h3>Stock Level Over Time</h3>
    <%= line_chart [
      {name: "Stock Level", data: @stock_level_data } 
    ] %>
  </div>

  <div class="col-xs-6">
    <h3>Days on Hand (Est. Number of Days before Stock Depletes)</h3>
      <%= column_chart [
        ["Days on Hand", @days_on_hand.round(0)]
      ] %>
  </div>