<p id="notice"><%= notice %></p>

<p>
  <strong>Sent To:</strong>
  <%= @mail_for_partner.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @mail_for_partner.subject %>
</p>

<p>
  <strong>Content:</strong>
  <%= @mail_for_partner.content %>
</p>

